target
.project
.classpath
.settings
.idea
*.iml
Thumbs.db
obj/
libs/
*.chain
*.spvchain
*.wallet
*.tmp
*.dat
*.swp
checkpoints
checkpoints-testnet.txt
checkpoints.txt
classes/artifacts/helixj_core_jar/helixj-core.jar
out/artifacts/helixj_core/helixj-core.jar
